# Fish temp files
/dotfiles/fish/*.fish
/dotfiles/fish/fish_variables
!/dotfiles/fish/config.fish

# Kitty generated config
/dotfiles/kitty/themes/
/dotfiles/kitty/current-theme.conf
/dotfiles/kitty/kitty.conf.bak
/dotfiles/kitty/kitty.conf.backup

# Direnv
/dotfiles/direnv/*
!/dotfiles/direnv/direnv.toml

# Helix
/dotfiles/helix/themes/

# Whiskers generated themes
/dotfiles/whiskers/generated/

# Zathura
/dotfiles/zathura/colors.conf

# Zellij
/dotfiles/zellij/themes
