# Fish temp files
/dotfiles/fish/*.fish
/dotfiles/fish/fish_variables
!/dotfiles/fish/config.fish

# Kitty generated config
/dotfiles/kitty/themes/
/dotfiles/kitty/current-theme.conf
/dotfiles/kitty/kitty.conf.bak

