---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
    - accent: ["lavender"]
  filename: "themes/minilauncher-{{ flavor.identifier }}.toml"
  hex_format: "#{{R}}{{G}}{{B}}{{Z}}"
---

background = "{{base.hex}}"
text = "{{text.hex}}"
border = "{{surface1.hex}}"
accent = "{{flavor.colors[accent].hex}}"
highlight = "{{surface2.hex}}"
