{
  "label": "Base16",
  "light": {
    "fg": "#{{base05-hex}}",
    "bg": "#{{base00-hex}}",
    "link": "#{{base0A-hex}}"
  },
  "dark": {
    "fg": "#{{base05-hex}}",
    "bg": "#{{base00-hex}}",
    "link": "#{{base0A-hex}}"
  }
}
